<div class="form group my-4">
    <label for="precioMin">Precio minimo</label>
    <input type="range" id="precioMin" 
        [(ngModel)]="precioMinimo"
        min="0" max="1100"
    >
    <span class="mx-2 badge rounded-pill bg-primary">{{precioMinimo}}</span>
</div>
<div class="form group my-4">
    <label for="precioMax">Precio maximo</label>
    <input type="range" id="precioMax" 
        [(ngModel)]="precioMaximo"
        min="0" max="1100"
    >
    <span class="mx-2 badge rounded-pill bg-primary">{{precioMaximo}}</span>
</div>

<div class="form-group my-4">
    <button class="btn btn-primary" (click)="aplicarFiltro()">Filtrar</button>
</div>
